body {
    background-color: rgb(106, 128, 128);
    font-size: 16px;
}

div.page-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 30px #777777;
    background-color: rgb(156, 177, 184);
}

header {
    background-color: rgb(126, 158, 160);
    opacity: 0.9;
    display: flex;
    align-items: center;
    color: #A8CCC9;
    border: 1px #5b9aa0;
}


header img {
    float: left;
    width: 250px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}


header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 3.5rem;
    font-style: oblique;
    color: rgb(46, 40, 19)
}

.motto {
    font-style: italic;
    color: rgb(34, 14, 14);
    font-size: 1.5rem;
    letter-spacing: 1.5pt;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 9px;
    overflow: hidden;
    background-color: #9e9d9d;
    font-size: larger;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 0 0 0 150px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    color: rgb(53, 27, 7);
    background-color: #777676;
}

.banner img {
    display: flex;
    width: 960px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);

}

.image1 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.image2 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.first-paragraph h2 {
    color: rgb(46, 40, 19);
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}


.first-paragraph p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph2 h2 {
    color: rgb(46, 40, 19);
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.paragraph2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph3 h2 {
    color: rgb(46, 40, 19);
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.paragraph3 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}